In [1]:
import importlib
import p_plp.db
import p_plp.db.utils
from p_plp.db import *
from p_plp.cohorts import *
importlib.reload(p_plp.db.utils)
dir(p_plp.db.utils)

['CDM_SCHEMA',
 'CdmTable',
 'Enum',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fetch_df',
 'get_cdm_table',
 'list_cdm_tables',
 'list_observed_conditions',
 'pd',
 'run_sql',
 'text']

In [2]:
engine = get_engine()
list_observed_conditions(engine)

,concept_id,concept_name,vocabulary_id,n_occurrences
0,4281516,Gingivitis,SNOMED,264
1,133228,Dental caries,SNOMED,115
2,40481087,Viral sinusitis,SNOMED,108
3,4112343,Acute viral pharyngitis,SNOMED,73
4,260139,Acute bronchitis,SNOMED,66
5,4217975,Normal pregnancy,SNOMED,57
6,37018196,Prediabetes,SNOMED,52
7,320128,Essential hypertension,SNOMED,51
8,439777,Anemia,SNOMED,49
9,436096,Chronic pain,SNOMED,33
10,4122116,Tooth eruption disorder,SNOMED,28
11,4132891,Chronic low back pain,SNOMED,28
12,436940,Metabolic syndrome X,SNOMED,28
13,435081,Abnormal findings diagnostic imaging heart+cor...,SNOMED,26
14,4185932,Ischemic heart disease,SNOMED,26
15,192279,Disorder of kidney due to diabetes mellitus,SNOMED,23
16,257012,Chronic sinusitis,SNOMED,22
17,4214746,Severe anxiety (panic),SNOMED,22
18,75053,Fracture of bone,SNOMED,21
19,45769905,Microalbuminuria due to type 2 diabetes mellitus,SNOMED,21

In [5]:
generate_target_cohort(engine, 45769905)

    subject_id cohort_start_date cohort_end_date
0           63        1955-05-08      1955-05-08
1          100        1965-12-13      1965-12-13
2          101        1969-03-09      1969-03-09
3           66        1974-04-07      1974-04-07
4           91        1985-03-19      1985-03-19
5           65        1992-09-20      1992-09-20
6          110        1993-08-20      1993-08-20
7           10        1997-10-15      1997-10-15
8           68        2000-07-20      2000-07-20
9           37        2003-01-16      2003-01-16
10          21        2004-06-09      2004-06-09
11          95        2012-10-02      2012-10-02
12          77        2012-11-11      2012-11-11
13          17        2015-06-30      2015-06-30
14          88        2019-10-31      2019-10-31
15          93        2020-01-17      2020-01-17
16          43        2022-03-21      2022-03-21
17          92        2023-02-19      2023-02-19
18         116        2023-04-26      2023-04-26
19          59        2025-07-12      2025-07-12
20          12        2026-01-02      2026-01-02