In [1]:
import importlib
import p_plp.db
from sqlalchemy import text
from p_plp.db import get_engine
import p_plp.db.utils
from p_plp.db import read_table
importlib.reload(p_plp.db.utils)
dir(p_plp.db.utils)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_engine',
 'pd',
 'read_table',
 'text']

In [2]:
engine = get_engine()

with engine.connect() as conn:
    print(conn.execute(text("select current_database()")).scalar())
    
with engine.connect() as conn:
    schemas = conn.execute(text("""
        select schema_name
        from information_schema.schemata
        order by schema_name
    """)).fetchall()
schemas

syntheasmall

[('information_schema',),
 ('native',),
 ('pg_catalog',),
 ('pg_temp_6',),
 ('pg_toast',),
 ('pg_toast_temp_6',),
 ('public',),
 ('syntheasmall',)]

In [3]:
df = read_table("person", "syntheasmall", limit=100)
df.head()

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,1,8532,1977,6,30,1977-06-30,8527,38003564,74,None,None,01de53a1-2e3f-eef3-78ed-3071cde85e27,F,0,white,0,nonhispanic,0
1,2,8507,1981,9,18,1981-09-18,8515,38003563,10,None,None,03a83e95-e48c-a098-bd16-733086d85796,M,0,asian,0,hispanic,0
2,3,8507,1967,5,14,1967-05-14,8515,38003564,79,None,None,09f8a6d3-2afb-08c1-001a-4395fe6ebe5d,M,0,asian,0,nonhispanic,0
3,4,8507,1987,1,9,1987-01-09,8527,38003564,73,None,None,0cc02808-6fc4-ac26-1f07-f9224ce1c5ae,M,0,white,0,nonhispanic,0
4,5,8532,2009,6,27,2009-06-27,0,38003564,35,None,None,12e90094-bb80-7797-dac2-589909e58736,F,0,other,0,nonhispanic,0