In [1]:
import importlib
import p_plp.db
from sqlalchemy import text
from p_plp.db import get_engine
import p_plp.db.utils
from p_plp.db.utils import get_cdm_table, CdmTable
importlib.reload(p_plp.db.utils)
dir(p_plp.db.utils)

['CDM_SCHEMA',
 'CdmTable',
 'Enum',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'get_cdm_table',
 'pd',
 'text']

In [2]:
engine = get_engine()

df_person = get_cdm_table(engine, CdmTable.DRUG_EXPOSURE)

In [3]:
df_person.head()

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,sig,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value
0,1,1,1710617,2005-09-22,2005-09-22,2006-01-29,2006-01-29,2006-01-29,32838,None,...,None,0,0,236,11,1000011,199663,1710617,None,None
1,2,1,19122186,2005-09-22,2005-09-22,2006-01-29,2006-01-29,2006-01-29,32838,None,...,None,0,0,236,11,1000011,597730,19122186,None,None
2,3,1,19122186,2008-10-09,2008-10-09,2008-10-09,2008-10-09,None,32838,None,...,None,0,0,236,21,1000021,597730,19122186,None,None
3,4,1,1703093,2008-10-09,2008-10-09,2008-10-09,2008-10-09,None,32838,None,...,None,0,0,236,21,1000021,476556,1703093,None,None
4,5,1,40224805,1998-07-30,1998-07-30,1999-07-25,1999-07-25,1999-07-25,32838,None,...,None,0,0,62,42,1000042,1000126,40224805,None,None